body {
    font-family: $fuente-principal;
    line-height: 1.6;
    background-color: $color-fondo-blanco;
    color: $color-texto-oscuro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: $color-texto-oscuro;
}